html {overflow-x:hidden;margin:0;padding:0;}
body {background-color:white;margin:0;padding:0;font-family: "Roobert"; overflow-x:hidden}

#c {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:-1;
}

@font-face {
  font-family: "Roobert";
  src: url("../fonts/font.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Glyph";
  src: url("../fonts/GoodGlyphs-No1.woff") format("woff");
  font-weight:normal;
  font-style: normal;
}
  

h1 { 
  font-family: "Roobert", "Roboto";
  color:black;
  font-size:1.5em;
  /* font-size:3.2em; */
}
h1 .glyph {
  font-family: "Glyph";
}
h1 a {
  border-bottom:1px solid black;
}
h1 a:hover {
  border-bottom:4px solid black;
}
h2 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  color:black;
}

h3 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-size:1em;
  font-style: normal;
  letter-spacing: 0.08em;
  color:black;
}

p {
  font-size:0.75em;
  font-weight:normal;
}

a {
  color:black;
  text-decoration: none;
}

nav {
  width:100vw;
  position: fixed;
  z-index:2;
}
nav ul {
  width:100%;
  box-sizing: border-box;
  margin:0px;
  padding:30px 30px;
}
nav ul .active {
  padding-left:0px;
}
nav ul li a h3{
  vertical-align:middle;
  margin:0px;
}
nav .right {
  float:right;
}
nav ul li h3 svg, footer a h3 svg{
  vertical-align: middle;
  margin-right:5px;
  margin-bottom:3px;
}
nav ul li:hover {
  cursor:pointer;
}
nav ul li:hover h3, footer a:hover {
  border-bottom:1px solid black;
}

.topNav {
  overflow: hidden;
}

.topNav li {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding-left: 20px;
  text-decoration: none;
  font-size: 17px;
}

.topNav li:hover {
  color: black;
}

.topNav a.active {
  color: black;
}

.topNav .icon {
  display: none;
}

@media (max-width:600px) {
  .topNav.responsive .icon {
    position: absolute;
    right: 30px;
    top: 30px;
  }
}

@media (max-width: 800px) {
  .topNav.responsive .icon {
    position: absolute;
    right: 40px;
    top: 40px;
  }
}

@media (max-width: 800px) {
  .topNav .icon {
    float: right;
    display: block!important 
  }
  .topNav .right{
    display:none;
  }

  .topNav.responsive {position: relative;}
  
  .responsive .right {
    width:100%;
    display:block;
    margin-top:10px;
    /* background-color:black; */
    padding:10px;
  }
  .responsive .right li {
    float:none;
    margin-top:5px;
    text-align:left;
  }

}

.header-container {
  padding:30px;
  /* padding:90px; */
  height:100vh;
  width:100vw;
  display:flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}
.content-container {
  padding:30px;
  width:100vw;
  display:flex;
  box-sizing: border-box;
}
#content {
  margin-top:25%;
  /* margin-top:10%; */
  width:100%;
  box-sizing: border-box;
  position: relative;
}

#content h1 {
  max-width:100%;
  /* max-width:85%; */
}
#content h1 svg {
  margin-bottom:-3px;
  margin-left:5px;
}

#content2 {
  position: relative;
  width:100%;
  /* margin-right:15%; */
}

#content2 ul {
  list-style-type:none;
  width:100%;
  padding:0px;
}

#content2 ul li{
  width:100%;
  padding:40px 0px;
  position:relative;
  border-top:1px solid black;
  cursor:pointer;
}

#content2 ul li:hover h3 span {
  background:black;
  color:black;
}

#content2 ul li * {
  pointer-events: none;
}
#content2 ul li h3 {
  display: inline;
  font-weight:500;
}
#content2 ul li svg {
  display: inline;
  float:right;
}

#model1, #model2 {
  display: inline-block;
  box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.25);
}

#model1 > div:nth-child(1) {
  position:absolute;
  bottom:-200px;
  left:-250px;
  width:800px;
  height:800px;
  z-index:-1;
}

#model2 > div:nth-child(1) {
  position:absolute;
  top:-150px;
  right:-175px;
  width: 500px;
  height: 500px;
  z-index:-1;
}

footer {
  float:right;
  padding:30px 20px;
  z-index:1;
}
footer a{
  padding-bottom:3px;
  margin-left:15px;
  color:black;
  cursor:pointer;
  display:inline-block;
  text-decoration: none;
}
footer a h3 {
  font-size:0.9em;
  margin:0px;
}

.comingsoon footer {
  align-self:flex-end;
}

.comingsoon {
  display:flex;
  height:100vh;
  width:100vw;
  /* justify-content:center; */
  align-items: center;
  flex-direction: column;
}

.comingsoon .content {
  flex-direction:column;
  flex-grow:1;
  justify-content: center;
  display:flex;
}

.comingsoon .content h1 {
  margin:0px;
  font-size:1.5em;
}

@media (min-width:600px) {
 
  h1 {
    font-size:2em;
  }
  nav ul {
    padding:40px 90px;
  }
  .header-container {
    padding:90px;
    justify-content: center;
    align-items: center;
    height:90vh;
  }
  .content-container {
    margin-top:10%;
    padding:90px;
    justify-content: center;
    align-items: center;
  }
  #content {
    margin-top:20%;
  }
  #content h1 {
    max-width:94%;
  }

  #content2 {
    width:94%;
  }

  #model1 > div:nth-child(1) {
    position:absolute;
    bottom:-50px;
    left:-100px;
    width:800px;
    height:800px;
    z-index:-1;  
  }

  #model2 > div:nth-child(1) {
   right:-225px;
   top:-150px;
  }

  .comingsoon .content h1 {
    font-size:3em;
  }
  
  footer {
    padding:40px 90px;
  }
}

@media (min-width:960px) { 
  h1 {
    font-size:2.9em;
  }
  #content h1 {
    max-width:85%;
    margin-left:auto;
  }

  #content2 {
    margin-right:15%;
  }

  .comingsoon .content h1 {
    font-size:5em;
  }
}

@media (min-width:1264px) { 
  .content-container {
    margin-top:0%;
  }
  h1 {
    font-size:3.2em;
  }
}

