body {background-color:black;font-family: "Monument";margin:0;padding:0;}
canvas {width:100%!important;height:100%!important;z-index:-2; margin:0; padding:0;opacity:0.1; position: fixed; top:0;}

/* box-sizing: border-box;position: absolute; top:0; */
/* * { 
  border:1px solid red;
} */

@font-face {
  font-family: "Monument";
  src: url("../fonts/MonumentGroteskTrial-Black.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
  
@font-face {
  font-family: "Monument";
  src: url("../fonts/MonumentGroteskTrial-Mono.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1 { 
  color: #FF0000;
  font-size:3.75em;
  line-height: normal;
  margin-bottom:0!important;
}

h2 {
  font-size:1.5em;
  color: #FF0000;
  line-height: normal;
}

h3 {
  font-weight:normal;
  font-size:1.1em;
  color: #FF0000;
  margin-top:0!important;
  line-height: normal;
}

p {
  font-size:0.75;
  font-weight:normal;
  color:#FF0000;
}

@media (min-width:600px) {
  h1 {font-size:4.5em};

}

a {
  text-decoration: none;
  /* border-bottom:1px solid #FF0000; */
  color:#FF0000!important;
}

a:visited {
  text-decoration: none;
  color:#FF0000!important;
}

a:hover {
  color: #990000!important;
}

a:hover > .icon {
  color: #990000!important;
}


.item a {
  border-bottom:1px solid #FF0000;
}

.item a:hover {
  border-bottom:1px solid #990000;
}

.item:hover a {
  border-bottom:1px solid #000000;
  color:#000000!important;
}

.item:hover a:hover {
  border-bottom:2px solid #000000;
  padding-bottom:2px;
}

/* .item:hover { 
  background-color:#FF0000;
} */
.item:hover, .item:hover > .desc p, .item:hover >  h2{ 
  background-color:#FF0000;
  color:black!important;
}



#loading { 
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  color:white;
  display:flex;
  justify-content: center;
  align-items: center;
}

#loading h1 { 
  margin:0;
}

#wrapper { 
  display:none;
}

.container{
  box-sizing: border-box;
  width:100%;
  position: absolute;
  top:0;
  z-index:50;
  height:100%;
  padding-top:10%;
  /* When blog added, remove comment */
  padding-bottom:15%;
}

.content {
  box-sizing: border-box; 
  padding:30px;
  padding-right:30px;
  float:none;
  width:100%;
  /* margin-top:11%; */
  height:100%;
  padding-bottom:50px;
  /* bottom:200px; */
}
.slide-container {
  box-sizing: border-box;
  position:relative;
  padding-top:20px;
}

.slide { 
  overflow-x:scroll;
  /* -webkit-overflow-scrolling: touch; */
  white-space:nowrap;
}

button i{
  margin:0;
  line-height: 0;
  font-size:1.25em;
}

button {
  z-index:500;
  margin:0;
  background:none;
  border:0;
  height:360px;
  padding:0px;
}

button:focus {
  outline:0;
  border:none;
}

#scroll-left { 
  display:none;
  position:absolute; 
  left:10px;
  /* box-shadow: -2px 0px 10px 1px #000000; */
}

#scroll-right { 
  position:absolute; 
  right:10px;
}

.circle { 
  padding:20px;
  background:black;
  border-radius:50px;
  color:#FF0000;
  width:18px;
  box-shadow: -2px 0px 10px 1px #000000;
}

.circle:hover { 
  background:#FF0000;
  color:black;
}

/* FIREFOX SCROLL STYLES */
.slide {
  scrollbar-color: #FF0000 #191919; 
  scrollbar-width: thin;
 
}

/* SAFARI/CHROME SCROLL STYLES */
.slide::-webkit-scrollbar {
  height: 5px;

}
  
/* Track */
.slide::-webkit-scrollbar-track {
  background: #191919; 
  border-radius:20px;
  /* box-shadow: inset 0 0 10px 10px green;
  border: solid 3px transparent; */ 
}
   
/* Handle */
.slide::-webkit-scrollbar-thumb {
  background: #FF0000; 
  border-radius:20px;
  /* box-shadow: inset 0 0 10px 10px green;
  border: solid 3px transparent; */
}
  
/* Handle on hover */
.slide::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.item { 
  position: relative;
  white-space: normal;
  display: inline-block;
  width:300px;
  text-align: center;
  border:1px solid #FF0000;
  padding:3px 15px 15px 15px;
  overflow:hidden;
  box-sizing: border-box;
  margin-bottom:20px;
  height:360px;
}

.last {
  margin-right:35px;
}

.desc { 
  position:relative;
  text-align: left;
}

.item span { 
  position:absolute;
  bottom:15px;
  left:15px;
}

img { 
  width:100%;
}

@media (min-height:600px) {
  /* .content {margin-top:14%;} */
  
}


@media (min-width:600px) {
  .content {
    float:right;
    width:70%;
    /* margin-top:11%; */
    padding:0px;
    /* padding-right:30px; */
    box-sizing: border-box;
}
  .container { 
    padding-bottom:0px!important;
    box-sizing: border-box;
  }
/* h1, h2, h3 {line-height: 0;} */
}

.bottom-link {
  position:absolute;
  bottom:0px;
  width:100%;
  text-align: center;
  color:red;
  z-index: 100;
  box-sizing: border-box;
  padding-bottom:10px;
  
}

.bottom-link a {
  color:red;
  text-decoration: none;
  font-weight: normal;
}

.arrow-down{border:none;padding:none;}

.arrow-down:hover i { 
    /* margin-top: 5px; */
    color: #990000!important;
  }


.social { 
  position: absolute;
  top:20px;
  right:20px;
  z-index:1000;
}

.icon {
  font-size:1.75em;
  color:red; 
  }

.small-icon {
  font-size:1em;
  color:red; 
  }