body {background-color:black;font-family: "Monument";margin:0;padding:0;}
canvas {width:100%!important;height:100%;z-index:1000; margin:0; padding:0;overflow:hidden;opacity:0.1}

/* box-sizing: border-box;position: absolute; top:0; */
/* * { 
  border:1px solid red;
} */
@font-face {
    font-family: "Monument";
    src: url("../fonts/MonumentGroteskTrial-Black.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Monument";
    src: url("../fonts/MonumentGroteskTrial-Mono.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  a {
    text-decoration: none;
    border-bottom:1px solid #FF0000;
  }

  a:visited {
    color:#FF0000;
  }


  .scroll{border:none;padding:none;}
  .scroll:hover i { 
    /* margin-top: 5px; */
    color: #990000!important;
  }

  a:hover {
      color: #990000!important;
  }

  /* FIREFOX SCROLL STYLES */
  .slide {
    scrollbar-color: #FF0000 #191919; 
    scrollbar-width: thin;
  }

  /* SAFARI/CHROME SCROLL STYLES */
  .slide::-webkit-scrollbar {
    height: 5px;
  }
  
  /* Track */
  .slide::-webkit-scrollbar-track {
    background: #191919; 
    border-radius:20px;
  }
   
  /* Handle */
  .slide::-webkit-scrollbar-thumb {
    background: #FF0000; 
    border-radius:20px;
  }
  
  /* Handle on hover */
  .slide::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.container{
    box-sizing: border-box;
    width:100%;
    position: absolute;
    top:0;
    z-index:50;
    height:100%;
    
}
h1 { 
    color: #FF0000;
    font-size:5em;
    line-height: normal;
}
h2 {
    font-size:1.5em;
    color: #FF0000;
    line-height: normal;
}
h3 {
    font-weight:normal;
    font-size:1.1em;
    color: #FF0000;
    line-height: normal;
}
p {
    font-size:0.75;
    font-weight:normal;
    color:#FF0000;
}
.content {
  box-sizing: border-box; 
  padding:30px;
  padding-right:0px;
    float:none;
    width:100%;
    margin-top:11%;
   
    /* bottom:200px; */
}
.slide {
   box-sizing: border-box;
    overflow:auto;
    white-space:nowrap;
    padding-bottom:20px;
    padding-top:20px;
}
.item { 
    position: relative;
    white-space: normal;
    display: inline-block;
    width:300px;
    text-align: center;
    border:1px solid #FF0000;
    padding:15px;
    overflow:hidden;
     box-sizing: border-box;
}

.desc { 
    text-align: left;
}

img { 
    width:100%;
}

@media (min-height:600px) {
  .content {margin-top:14%;}
  
}


@media (min-width:600px) {
  .content {
    float:right;
    width:70%;
    margin-top:11%;
    padding:0px;
    box-sizing: border-box;
}
h1, h2, h3 {line-height: 0;}
}

.bottom-link {
  position:absolute;
  bottom:0px;
  width:100%;
  text-align: center;
  color:red;
  z-index: 100;
  box-sizing: border-box;
  padding-bottom:40px;
  
}

.bottom-link a {
  color:red;
  text-decoration: none;
  font-weight: normal;
  
}

.social { 
  position: absolute;
  top:20px;
  right:20px;
}

.icon {
  font-size:1.75em;
  color:red; 
  }

.small-icon {
  font-size:1em;
  color:red; 
  }