html {overflow-x:hidden;}
body {background-color:black;margin:0;padding:0;font-family: "Roobert";}

#c {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index:-1;
}

@font-face {
  font-family: "Roobert";
  src: url("../fonts/font.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Glyph";
  src: url("../fonts/GoodGlyphs-No1.woff") format("woff");
  font-weight:normal;
  font-style: normal;
}
  

h1 { 
  font-family: "Roobert", "Roboto";
  color:white;
  font-size:1.5em;
}
h1 .glyph {
  font-family: "Glyph";
}
h1 a {
  border-bottom:1px solid #ffffff;
}
h1 a:hover {
  border-bottom:4px solid #ffffff;
}
h2 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  color:white;
}

h3 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-size:1em;
  font-style: normal;
  letter-spacing: 0.08em;
  color:white;
}

p {
  font-size:0.75em;
  font-weight:normal;
}

a {
  color:white;
  text-decoration: none;
}

nav {
  width:100vw;
  position: fixed;
  z-index:2;
}
nav ul {
  width:100%;
  box-sizing: border-box;
  margin:0px;
  padding:30px 30px;
}
nav ul li:nth-child(1) {
  padding-left:0px;
}
nav ul li a h3{
  vertical-align:middle;
  margin:0px;
}
nav .right {
  float:right;
}
nav ul li h3 svg, footer a h3 svg{
  vertical-align: middle;
  margin-right:5px;
  margin-bottom:3px;
}
nav ul li:hover {
  cursor:pointer;
}
nav ul li:hover h3, footer a:hover {
  border-bottom:1px solid #ffffff;
}

.topNav {
  overflow: hidden;
}

.topNav li {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding-left: 20px;
  text-decoration: none;
  font-size: 17px;
}

.topNav li:hover {
  color: black;
}

.topNav a.active {
  color: white;
}

.topNav .icon {
  display: none;
}

.topNav li:not(:first-child) { float:right}

@media (max-width: 800px) {
  .topNav li:not(:first-child) {display: none;}
  .topNav .icon {
    float: right;
    display: block!important 
  }
}

@media (max-width: 800px) {
  .topNav.responsive {position: relative;}
  .topNav.responsive .icon {
    position: absolute;
    right: 30px;
    top: 30px;
  }
  .topNav.responsive li {
    float: none;
    display: block;
    text-align: left;
  }
}

.header-container {
  padding:30px;
  /* padding:90px; */
  height:100vh;
  width:100vw;
  display:flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}
.content-container {
  padding:30px;
  width:100vw;
  display:flex;
  box-sizing: border-box;
}
#content {
  margin-top:25%;
  /* margin-top:10%; */
  width:100%;
  box-sizing: border-box;
  position: relative;
}

#content h1 {
  max-width:100%;
  /* max-width:85%; */
}
#content h1 svg {
  margin-bottom:-3px;
  margin-left:5px;
}

#content2 {
  position: relative;
  width:100%;
}

#content2 ul {
  list-style-type:none;
  width:100%;
  padding:0px;
}

#content2 ul li{
  width:100%;
  padding:40px 0px;
  position:relative;
  border-top:1px solid #ffffff;
  cursor:pointer;
}

#content2 ul li:hover h3 span {
  background:white;
  color:black;
}

#content2 ul li * {
  pointer-events: none;
}
#content2 ul li h3 {
  display: inline;
  font-weight:500;
}
#content2 ul li svg {
  display: inline;
  float:right;
}

#model1, #model2 {
  position: relative;
  width:100vw;
  overflow-x:hidden;
  display: inline-block;
  box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.25);
}

#model1 > div:nth-child(1) {
  position:absolute;
  bottom: -75px;
  left: -150px;
  width: 600px;
  height: 600px;
  z-index:-1;
}

#model2 > div:nth-child(1) {
  position:absolute;
  top:-150px;
  right:-150px;
  width: 500px;
  height: 500px;
  z-index:-1;
}

footer {
   padding:30px 40px;
  z-index:1;
}
footer a{
padding-bottom:3px;
margin-left:15px;
color:#ffffff;
cursor:pointer;
display:inline-block;
text-decoration: none;
}
footer a h3 {
   margin-bottom:0px;
}

.comingsoon {
  display:flex;
  height:100vh;
  width:100vw;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}
.comingsoon2 {
  display:flex;
  height:20vh;
  width:100vw;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}
.comingsoon h1, .comingsoon2 h1{
  margin:0px;
  font-size:5em;
}

@media (min-width:600px) {
 
  h1 {
    font-size:2em;
  }
  nav ul {
    padding:40px 90px;
  }
  .header-container {
    padding:90px;
    justify-content: center;
    align-items: center;
    height:90vh;
  }
  .content-container {
    margin-top:10%;
    padding:90px;
  }
  #content {
    margin-top:20%;
  }
  #content h1 {
    max-width:94%;
  }

  #content2 {
    width:94%;
  }

  #model1, #model2 {
    /* position:relative;
    width:auto; */
    /* overflow-x:visible; */
  }

  #model1 > div:nth-child(1) {
    position:absolute;
    bottom: -100px;
    left: -100px;
    width: 700px;
    height: 700px;
    z-index:-1;  
  }

  #model2 > div:nth-child(1) {
   right:0px;
   top:-150px;
  }
  

  footer {
    padding:30px 70px;
  }
}

@media (min-width:960px) { 
  h1 {
    font-size:2.7em;
  }
  #model1 > div:nth-child(1) {
    position:absolute;
    bottom:-50px;
    left:-100px;
    width:800px;
    height:800px;
    z-index:-1;  
  }
  #model2 > div:nth-child(1) {
    right:125px;
    top:-150px;
   }
  #content h1 {
    max-width:85%;
    margin-left:auto;
  }

  #content2 {
    width:85%;
  }
}

@media (min-width:1264px) { 
  h1 {
    font-size:3.2em;
  }
}

