body {background-color:black;font-family: "Monument";overflow:hidden;}
* > {
    border: 2px dashed red;
}

@font-face {
    font-family: "Monument";
    src: url("../fonts/MonumentGroteskTrial-Black.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Monument";
    src: url("../fonts/MonumentGroteskTrial-Mono.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  .slide::-webkit-scrollbar {
    height: 5px;
  }
  
  /* Track */
  .slide::-webkit-scrollbar-track {
    background: #191919; 
    border-radius:20px;
  }
   
  /* Handle */
  .slide::-webkit-scrollbar-thumb {
    background: #FF0000; 
    border-radius:20px;
  }
  
  /* Handle on hover */
  .slide::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.container{
    position: absolute;
    bottom:300px;
    right:0;
}
h1 { 
    color: #FF0000;
    font-size:4.5em;
    line-height: 0;
}
h2 {
    font-size:1.5em;
    color: #FF0000;
    line-height: 0;
}
h3 {
    font-weight:normal;
    font-size:1.1em;
    color: #FF0000;
    line-height: 0;
}
p {
    font-size:0.75;
    font-weight:normal;
    color:#FF0000;
}
.slide {

    width:50%;
    overflow:auto;
    white-space:nowrap;
    padding-bottom:20px;
    padding-top:20px;
}
.item { 
    white-space: normal;
    display: inline-block;
    width:200px;
    text-align: center;
    border:1px solid #FF0000;
    padding:15px;
}

.desc { 
    text-align: left;
}